:root {
  --arrowpanel-menuitem-padding-block: 4px 8px !important;
  --tab-block-margin: 4px 3px !important;
}

  
  /* show close button on hover */
#tabbrowser-tabs[closebuttons="activetab"]


.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-inline-box !important;
}


.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
	visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
	visibility: visible !important;
	display: block !important;
}



/* make the close button more clearly visible on hover */
.tab-close-button:hover {
	background-color: rgba(100,100,100,0.4) !important;
	fill: rgb(255,95,87) !important;
	border-radius: 4px;
}

.tab-close-button:hover{
	margin-top: 7px !important;
	margin-bottom: 7px !important;
	padding-block: 3px 3px !important;
}



/* make entire tab bar compact, reduce height, ensure things don't conflict */
.tabbrowser-tab {
	min-height: 24px !important;
	margin-block-start: 2px !important;
}
 
#tabbrowser-arrowscrollbox {
	--tab-min-height: 31px !important;
	max-height: var(--tab-min-height);
}

#tabs-newtab-button {
	min-width: 10px !important;
	min-height: 10px !important;
}

#tabs-newtab-button:hover {
	background-color: rgba(100,100,100,0.) !important;
	fill: rgb(40,200,64) !important;
}

#tabs-newtab-button .toolbarbutton-icon/*, #new-tab-button */ {
	border-radius: 4px !important;
	margin-top: 5.5px !important;
	margin-bottom: 0px !important;
	min-height: 20px !important;
	min-width: 20px !important;
	padding-block: 4px 5px !important;	
}


/* hide spacer at end */
.titlebar-spacer {
  display: none;
}

.titlebar-buttonbox-container {
  margin-right: 12px !important;
}


/* some compact mode fixes */
.tabbrowser-tab:is([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]), .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]) {
  background-position-x: left 2px !important;
  background-position-y: bottom 12.5px !important;
}

#urlbar[breakout=true]:not([open="true"]) {
  --urlbar-height: 20px !important;
  --urlbar-toolbar-height: 24px !important;
  margin-block-start: -2px !important;	  
}

#urlbar[breakout=true][open="true"] {
  --urlbar-toolbar-height: 30px !important;
}

#urlbar-container, #search-container {
  padding-block: 0 !important;
}

#search-container {
  min-width: 192px !important;
}

#urlbar-container {
  --urlbar-container-height: 30px !important;
  margin-top: 0 !important;
}

#reload-button {
  margin-block-start: -2px !important;
}

#pageActionSeparator,
#pageActionButton,
#toolbar-menubar,
#tracking-protection-icon-container,
#identity-icon-box,
#star-button-box {
	display: none !important;
}


/* autohide navbar */
#nav-bar:not([customizing]) {
  visibility: visible;
  margin-top: -34px;
  transition-delay: 1s;
  transition: visibility, ease 0.00s, margin-top, ease 0.00s, opacity, ease 0.00s, rotate, ease 0.1s !important;
}

#nav-bar:hover,
#nav-bar:focus-within,
#urlbar[focused='true'],
#identity-box[open='true'],
#titlebar:hover + #nav-bar:not([customizing]),
#toolbar-menubar:not([inactive='true']) ~ #nav-bar:not([customizing]) {
  visibility: visible;
  margin-top: 0px;
  margin-bottom: 0 !important;
  /* margin-bottom: -0.2px; */
}

#tabbrowser-tabs {
  visibility: visible !important;
}


#nav-bar .toolbarbutton-1[open='true'] {
  visibility: visible;
  opacity: 100;
}

/* remove buttons */
#alltabs-button {
  display: none;
  visibility: hidden;
}

/* light/dark mode colours */
@media(prefers-color-scheme: dark) {
  #urlbar-input-container, #remote-control-box {
    background-color: black !important;
  }
  
  #urlbar-background {
    background-color: #181825;
  }
  
  #titlebar, #nav-bar, #PersonalToolbar {
    background-color: black !important;
  }

  #tabbrowser-tabs, #TabsToolbar, .toolbar-items, #TabsToolbar-customization-target {
    background-color: black !important;
  }
}

@media(prefers-color-scheme: light) {
  #urlbar-input-container, #remote-control-box {
    background-color: white !important;
    box-shadow: 0;
  }

  #urlbar-input-container:is([focused="true"], [open]) {
    background-color: white !important;
    text-shadow: none !important;
    box-shadow: 0px 0px !important;
  }

  #urlbar-background {
    background-color: #e6e9ef !important;
  }
  
  #titlebar, #nav-bar, #PersonalToolbar {
    background-color: white !important;
  }

  #tabbrowser-tabs, #TabsToolbar, .toolbar-items, #TabsToolbar-customization-target {
    background-color: white !important;
  }
}

/* remove outline colour around url bar */
#urlbar:is([focused="true"]) > #urlbar-background, #seachbar:focus-within {
  box-shadow: none !important;
  text-shadow: none !important;
  outline: none !important;
}

/* change font! */
#urlbar {
  font-family: "Dank Mono" !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

#tabbrowser-tabs, #TabsToolbar, .toolbar-items, #TabsToolbar-customization-target {
  position: absolute !important;
  z-index: 100000 !important;
}

#urlbar {
  position: absolute !important;
  z-index: 1000 !important;
}
